@import "//fonts.googleapis.com/earlyaccess/notosanstc.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";
*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.resize {
  resize: both;
}

.border {
  border-width: 1px;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden], template {
  display: none;
}

a {
  background-color: #0000;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: #0000;
  font-size: 10px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-rwd {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}

[role="button"] {
  cursor: pointer;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.6667%;
}

.col-xs-10 {
  width: 83.3333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.6667%;
}

.col-xs-7 {
  width: 58.3333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.6667%;
}

.col-xs-4 {
  width: 33.3333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.6667%;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.6667%;
}

.col-xs-pull-10 {
  right: 83.3333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.6667%;
}

.col-xs-pull-7 {
  right: 58.3333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.6667%;
}

.col-xs-pull-4 {
  right: 33.3333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.6667%;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.6667%;
}

.col-xs-push-10 {
  left: 83.3333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.6667%;
}

.col-xs-push-7 {
  left: 58.3333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.6667%;
}

.col-xs-push-4 {
  left: 33.3333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.6667%;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.6667%;
}

.col-xs-offset-10 {
  margin-left: 83.3333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.6667%;
}

.col-xs-offset-7 {
  margin-left: 58.3333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.6667%;
}

.col-xs-offset-4 {
  margin-left: 33.3333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.6667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (width >= 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.6667%;
  }

  .col-sm-10 {
    width: 83.3333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.6667%;
  }

  .col-sm-7 {
    width: 58.3333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.6667%;
  }

  .col-sm-4 {
    width: 33.3333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.6667%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.6667%;
  }

  .col-sm-pull-10 {
    right: 83.3333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.6667%;
  }

  .col-sm-pull-7 {
    right: 58.3333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.6667%;
  }

  .col-sm-pull-4 {
    right: 33.3333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.6667%;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.6667%;
  }

  .col-sm-push-10 {
    left: 83.3333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.6667%;
  }

  .col-sm-push-7 {
    left: 58.3333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.6667%;
  }

  .col-sm-push-4 {
    left: 33.3333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.6667%;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (width >= 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.6667%;
  }

  .col-md-10 {
    width: 83.3333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.6667%;
  }

  .col-md-7 {
    width: 58.3333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.6667%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.6667%;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.6667%;
  }

  .col-md-pull-10 {
    right: 83.3333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.6667%;
  }

  .col-md-pull-7 {
    right: 58.3333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.6667%;
  }

  .col-md-pull-4 {
    right: 33.3333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.6667%;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.6667%;
  }

  .col-md-push-10 {
    left: 83.3333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.6667%;
  }

  .col-md-push-7 {
    left: 58.3333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.6667%;
  }

  .col-md-push-4 {
    left: 33.3333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.6667%;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.6667%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.6667%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.6667%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.6667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (width >= 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.6667%;
  }

  .col-lg-10 {
    width: 83.3333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.6667%;
  }

  .col-lg-7 {
    width: 58.3333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.6667%;
  }

  .col-lg-4 {
    width: 33.3333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.6667%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.6667%;
  }

  .col-lg-pull-10 {
    right: 83.3333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.6667%;
  }

  .col-lg-pull-7 {
    right: 58.3333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.6667%;
  }

  .col-lg-pull-4 {
    right: 33.3333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.6667%;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.6667%;
  }

  .col-lg-push-10 {
    left: 83.3333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.6667%;
  }

  .col-lg-push-7 {
    left: 58.3333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.6667%;
  }

  .col-lg-push-4 {
    left: 33.3333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.6667%;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

html {
  font-size: 100%;
}

body {
  color: #1c1c1c;
  background-color: #aabcd6;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  display: flex;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:focus, a:active, a.active {
  color: #1c1c1c;
  outline: none;
}

a {
  transition: all .3s;
}

a:hover, a:focus, a:active, a.active {
  text-decoration: none;
}

button, button:hover, button:focus, input {
  border: none;
  outline: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

input {
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.6;
}

input::placeholder {
  color: silver;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
  font-size: revert;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.6;
}

.mr-t-1 {
  margin-t: 10px;
}

.mr-t-2 {
  margin-t: 20px;
}

.mr-t-3 {
  margin-t: 30px;
}

.mr-t-4 {
  margin-t: 40px;
}

.mr-t-5 {
  margin-t: 50px;
}

.mr-t-6 {
  margin-t: 60px;
}

.mr-t-7 {
  margin-t: 70px;
}

.mr-t-8 {
  margin-t: 80px;
}

.mr-t-9 {
  margin-t: 90px;
}

.mr-t-10 {
  margin-t: 100px;
}

.mr-r-1 {
  margin-r: 10px;
}

.mr-r-2 {
  margin-r: 20px;
}

.mr-r-3 {
  margin-r: 30px;
}

.mr-r-4 {
  margin-r: 40px;
}

.mr-r-5 {
  margin-r: 50px;
}

.mr-r-6 {
  margin-r: 60px;
}

.mr-r-7 {
  margin-r: 70px;
}

.mr-r-8 {
  margin-r: 80px;
}

.mr-r-9 {
  margin-r: 90px;
}

.mr-r-10 {
  margin-r: 100px;
}

.mr-b-1 {
  margin-b: 10px;
}

.mr-b-2 {
  margin-b: 20px;
}

.mr-b-3 {
  margin-b: 30px;
}

.mr-b-4 {
  margin-b: 40px;
}

.mr-b-5 {
  margin-b: 50px;
}

.mr-b-6 {
  margin-b: 60px;
}

.mr-b-7 {
  margin-b: 70px;
}

.mr-b-8 {
  margin-b: 80px;
}

.mr-b-9 {
  margin-b: 90px;
}

.mr-b-10 {
  margin-b: 100px;
}

.mr-l-1 {
  margin-l: 10px;
}

.mr-l-2 {
  margin-l: 20px;
}

.mr-l-3 {
  margin-l: 30px;
}

.mr-l-4 {
  margin-l: 40px;
}

.mr-l-5 {
  margin-l: 50px;
}

.mr-l-6 {
  margin-l: 60px;
}

.mr-l-7 {
  margin-l: 70px;
}

.mr-l-8 {
  margin-l: 80px;
}

.mr-l-9 {
  margin-l: 90px;
}

.mr-l-10 {
  margin-l: 100px;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  display: none;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.mobileOnly, .hide {
  display: none !important;
}

.pcOnly {
  display: block !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popupZoom {
  from {
    opacity: 0;
    transform: scale(.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.app {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
}

.header {
  color: #fff;
  background: linear-gradient(135deg, #006bff, #7b60e1);
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  box-shadow: 0 4px 20px -2px #006bff1a;
}

.header .logo {
  max-width: 40px;
}

.header .header-left {
  align-items: center;
  gap: 1rem;
  font-size: .85rem;
  display: flex;
}

.header .header-right {
  align-items: center;
  gap: 2rem;
  font-size: .85rem;
  display: flex;
}

.header .header-right .menu-btn {
  color: #fff;
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  border-radius: .375rem;
  align-items: center;
  padding: .5rem;
  font-size: .875rem;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.header .header-right .menu-btn .menu-icon {
  width: 1rem;
  height: 1rem;
}

.header .header-right .menu-btn:hover {
  color: #006bff;
  background-color: #fff;
}

.header .header-right .menu-btn.active {
  opacity: .8;
  transform: scale(.95);
}

.main-content {
  flex: 1;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 0;
  padding: 1rem;
  display: grid;
  overflow: hidden;
}

.left-column, .right-column {
  flex-direction: column;
  gap: 1rem;
  min-height: 0;
  display: flex;
}

.collapsible.expanded {
  flex: 1;
  min-height: 0;
}

.collapsible.expanded .collapse-icon {
  transform: rotate(-180deg);
}

.collapsible.expanded .card-content {
  padding-top: 0;
  display: block;
}

.card {
  background: #fff;
  border-radius: .75rem;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 20px -2px #006bff1a;
}

.card .card-header {
  border-bottom: 1px solid #e5e7eb;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.card .card-header.clickable {
  cursor: pointer;
  border-bottom: none;
}

.card .card-header.clickable:hover {
  background-color: #f9fafb80;
}

.card .card-header .section-title {
  color: #1c1c1c;
  font-size: .875rem;
  font-weight: 600;
}

.card .card-header .collapse-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
}

.card .card-content {
  flex: 1;
  padding: 1rem;
  display: none;
  overflow: hidden;
}

.chat-section {
  flex: 1;
  min-height: 0;
  display: flex;
}

.chat-section .chat-messages {
  flex-direction: column;
  flex: 1;
  gap: .85rem;
  min-height: 0;
  display: flex;
  overflow-y: auto;
}

.chat-section .chat-messages .message-block {
  align-items: flex-start;
  gap: .5rem;
  display: flex;
}

.chat-section .chat-messages .message-block .message-info {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.chat-section .chat-messages .message-block .message-info .message-avatar {
  background: linear-gradient(123deg, #006bff 19%, #7b60e1 88.6903%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 6px;
  display: flex;
}

.chat-section .chat-messages .message-block .message-info .message-avatar img {
  width: 100%;
  height: auto;
}

.chat-section .chat-messages .message-block .message-info .audio-icon {
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  width: 100%;
  height: 12px;
  margin-top: 8px;
  display: none;
}

.chat-section .chat-messages .message-block .message-info .audio-icon.show {
  display: flex;
}

.chat-section .chat-messages .message-block .message-info .audio-icon .bar {
  width: 1.5px;
  height: 100%;
  animation: 1s ease-in-out infinite bounce;
  animation-delay: calc(var(--i) * .1s);
  background: #006bff;
  border-radius: 2px;
}

.chat-section .chat-messages .message-block .message-info .audio-icon.pause .bar {
  animation: .5s ease-in-out pause;
}

@keyframes bounce {
  0%, 100% {
    transform: scaleY(.3);
  }

  50% {
    transform: scaleY(1);
  }
}

@keyframes pause {
  0% {
    transform: scaleY(.3);
  }

  100% {
    transform: scaleY(0);
  }
}

.chat-section .chat-messages .message-block.message-Turi .message-content {
  background-color: #f1f2f9;
}

.chat-section .chat-messages .message-block.message-UnvoicedNote .message-content {
  width: 100%;
  max-width: 100%;
  padding: .5rem 0;
}

.chat-section .chat-messages .message-block.message-UnvoicedNote .message-content p {
  color: #464a4f;
  font-size: .85rem;
}

.chat-section .chat-messages .message-block.message-student .message-content {
  color: #fff;
  background-color: #006bff;
  margin-left: auto;
}

.chat-section .chat-messages .message-block.message-student .message-content span.choice {
  margin-right: .5rem;
}

.chat-section .chat-messages .message-content {
  border-radius: .5rem;
  max-width: 80%;
  padding: .5rem .75rem;
}

.chat-section .chat-messages .message-content p {
  text-align: left;
  margin: 0;
  line-height: 1.4;
}

.chat-section .chat-messages .message-content p span:not(.choice) {
  align-items: baseline;
  display: inline-flex;
}

.control-section {
  height: 12rem;
  display: flex;
}

.control-section .control-content {
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  display: flex;
}

.control-section .control-content .control-area {
  flex: 1;
}

.control-section .control-content .control-area.is-input {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  padding: 1rem;
}

.control-section .control-content .control-area p {
  color: #464a4f;
  margin: 0;
  font-size: .875rem;
}

.control-section .control-content .action-buttons {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.control-section .control-content .action-buttons .action-btn {
  color: #1c1c1c;
  cursor: pointer;
  background: none;
  border: 1px solid #e5e7eb;
  border-radius: .375rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: .875rem;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.control-section .control-content .action-buttons .action-btn svg {
  width: 24px;
  height: 24px;
}

.control-section .control-content .action-buttons .action-btn:hover {
  background-color: #f9fafb;
  border-color: #006bff;
}

.control-section .control-content .action-buttons .action-btn.active {
  opacity: .8;
  transform: scale(.95);
}

.notes-section .card {
  position: relative;
}

.notes-section .card .card-content img {
  width: 100%;
  max-height: 100%;
}

#startPopup {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

#startPopup > div {
  opacity: 0;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  max-width: 400px;
  padding: 30px;
  animation: .2s ease-out .2s forwards popupZoom;
  box-shadow: 0 .517525px .310515px -.75px #888ae378, 0 1.56943px .941657px -1.5px #888ae375, 0 4.14872px 2.48924px -2.25px #888ae36e, 0 13px 7.8px -3px #888ae352, inset 0 0 0 -1.875px #ffffff3b, inset 0 0 0 -3.75px #ffffff17, inset 0 0 2px #1e21734d;
}

#startPopup > div button {
  color: #fff;
  background: linear-gradient(123deg, #006bff 19%, #7b60e1 88.6903%);
  border-radius: 24px;
  flex-wrap: nowrap;
  height: 48px;
  margin-top: 12px;
  padding: 14px 20px;
  line-height: 0;
  box-shadow: 0 .517525px .310515px -.75px #888ae378, 0 1.56943px .941657px -1.5px #888ae375, 0 4.14872px 2.48924px -2.25px #888ae36e, 0 13px 7.8px -3px #888ae352, inset 0 0 0 -1.875px #ffffff3b, inset 0 0 0 -3.75px #ffffff17, inset 0 0 2px #1e21734d;
}

#choicePopup {
  opacity: 0;
  text-align: center;
  background: #fff;
  padding: 1.5rem 1rem;
  display: none;
  box-shadow: 0 .517525px .310515px -.75px #888ae378, 0 1.56943px .941657px -1.5px #888ae375, 0 4.14872px 2.48924px -2.25px #888ae36e, 0 13px 7.8px -3px #888ae352, inset 0 0 0 -1.875px #ffffff3b, inset 0 0 0 -3.75px #ffffff17, inset 0 0 2px #1e21734d;
}

#choicePopup .choice-btn {
  text-align: left;
  cursor: pointer;
  background: #fff;
  border: 2px solid #006bff;
  border-radius: .75rem;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  transition: all .2s;
  display: flex;
  box-shadow: 0 4px 10px -2px #006bff1a;
}

#choicePopup .choice-btn:hover {
  color: #fff;
  background: #006bff;
  box-shadow: 0 6px 12px -2px #006bff1a;
}

#choicePopup .choice-btn span.choice {
  margin-right: .85rem;
  font-size: 1.25rem;
  font-weight: 700;
}

body.show-choice #choicePopup {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-width: 100vw;
  animation: .2s ease-out .2s forwards popupZoom;
  display: grid;
}

.app-loader {
  z-index: 9999;
  place-items: start center;
  padding-top: 60px;
  transition: opacity .2s;
  display: grid;
  position: absolute;
  inset: 0;
}

.app-loader.hidden {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.app-loader__spinner {
  border: 4px solid #006bff;
  border-top-color: #fff0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  animation: .8s linear infinite app-spin;
}

@keyframes app-spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .app-loader__spinner {
    animation: none;
  }
}

@media (width <= 1024px) {
  .header .header-left, .header .header-right {
    gap: 1rem;
  }

  .header .header-right .main-title {
    font-size: 1rem;
  }

  body.show-choice #choicePopup {
    position: fixed;
    bottom: 0;
  }
}

@media (width <= 798px) {
  .student-topic-info, topic-info, .title-section, .study-info {
    display: none;
  }

  .main-content {
    flex-flow: column;
    display: flex;
  }

  .left-column {
    height: 100%;
  }

  body.show-choice .control-section {
    display: none;
  }

  body.show-choice #choicePopup {
    position: relative;
  }

  #startPopup {
    padding: 0 10vw;
  }
}
/*# sourceMappingURL=main.css.map */
