@charset "UTF-8";
/**
* _breakpoint scss value setting
* 設定斷點距離得值
**/
/**
* _breakpoint scss value setting
* 設定斷點距離得值
**/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import 'setting/tailwind.css';
@import 'setting/all.css';
html {
  font-size: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4;
  color: #222222;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #222222;
  outline: none;
}

a {
  transition: 0.3s;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #094;
  text-decoration: none;
}

button,
button:hover,
button:focus,
input {
  outline: none;
  border: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

input {
  border-radius: 4px;
  height: 50px;
  padding: 0px 20px;
  border: none;
  font-size: 18px;
  line-height: 1.6;
}
input::-moz-placeholder {
  color: #9E9E9E;
}
input::placeholder {
  color: #9E9E9E;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #F5F5F5 inset;
}

/* ==========================================================================
  Typography
========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  font-weight: bold;
  font-size: revert;
}

p {
  line-height: 1.6;
  margin: 0;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* ==========================================================================
  base
========================================================================== */
.mr-t-1 {
  margin-top: 10px;
}

.mr-t-2 {
  margin-top: 20px;
}

.mr-t-3 {
  margin-top: 30px;
}

.mr-t-4 {
  margin-top: 40px;
}

.mr-t-5 {
  margin-top: 50px;
}

.mr-t-6 {
  margin-top: 60px;
}

.mr-t-7 {
  margin-top: 70px;
}

.mr-t-8 {
  margin-top: 80px;
}

.mr-t-9 {
  margin-top: 90px;
}

.mr-t-10 {
  margin-top: 100px;
}

.mr-r-1 {
  margin-right: 10px;
}

.mr-r-2 {
  margin-right: 20px;
}

.mr-r-3 {
  margin-right: 30px;
}

.mr-r-4 {
  margin-right: 40px;
}

.mr-r-5 {
  margin-right: 50px;
}

.mr-r-6 {
  margin-right: 60px;
}

.mr-r-7 {
  margin-right: 70px;
}

.mr-r-8 {
  margin-right: 80px;
}

.mr-r-9 {
  margin-right: 90px;
}

.mr-r-10 {
  margin-right: 100px;
}

.mr-b-1 {
  margin-bottom: 10px;
}

.mr-b-2 {
  margin-bottom: 20px;
}

.mr-b-3 {
  margin-bottom: 30px;
}

.mr-b-4 {
  margin-bottom: 40px;
}

.mr-b-5 {
  margin-bottom: 50px;
}

.mr-b-6 {
  margin-bottom: 60px;
}

.mr-b-7 {
  margin-bottom: 70px;
}

.mr-b-8 {
  margin-bottom: 80px;
}

.mr-b-9 {
  margin-bottom: 90px;
}

.mr-b-10 {
  margin-bottom: 100px;
}

.mr-l-1 {
  margin-left: 10px;
}

.mr-l-2 {
  margin-left: 20px;
}

.mr-l-3 {
  margin-left: 30px;
}

.mr-l-4 {
  margin-left: 40px;
}

.mr-l-5 {
  margin-left: 50px;
}

.mr-l-6 {
  margin-left: 60px;
}

.mr-l-7 {
  margin-left: 70px;
}

.mr-l-8 {
  margin-left: 80px;
}

.mr-l-9 {
  margin-left: 90px;
}

.mr-l-10 {
  margin-left: 100px;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  display: none;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.mobileOnly,
.hide {
  display: none !important;
}

.pcOnly {
  display: block !important;
}

.btn-ch {
  border-radius: 999px;
  min-width: 200px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.315px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn-ch.btn-small {
  padding: 8px 20px;
  min-width: auto;
}
.btn-ch.btn-primary {
  background: #009944;
  color: #FFF;
}
.btn-ch.btn-primary:hover {
  background: #00762F;
}
.btn-ch.btn-secondary {
  background: #FFF;
  color: #009944;
  border: 1px solid #009944;
}
.btn-ch.btn-secondary:hover {
  color: #00762F;
  border-color: #00762F;
}

/* ==========================================================================
  UI Guideline use
========================================================================== */
header#uiGuideline-header {
  background-color: #009944;
  padding: 10px;
  margin-bottom: 60px;
  width: 100%;
}
header#uiGuideline-header h1 {
  float: left;
  line-height: 35px;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 1px;
}
header#uiGuideline-header h1 a {
  color: #fff;
}
header#uiGuideline-header h1 a:hover {
  font-weight: bold;
}
header#uiGuideline-header h1 a:before {
  content: "\f015";
  font-family: "FontAwesome";
  margin-right: 5px;
}
header#uiGuideline-header img {
  float: left;
  height: 35px;
}
header#uiGuideline-header h2 {
  float: right;
  line-height: 35px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

footer#uiGuideline-footer {
  background-color: #ececec;
  padding: 15px 0;
  margin-top: 60px;
  text-align: center;
  font-size: 0.75rem;
  color: #555;
}

h2.title {
  font-size: 1.625rem;
  color: #333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.box-content {
  padding: 20px 0 40px;
}

.box-text {
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}
.box-text h3 {
  font-size: 1rem;
  color: #009944;
  margin-bottom: 8px;
}
.box-text h3 a {
  color: #009944;
}
.box-text h3 a:hover {
  color: #00762F;
}
.box-text h3:before {
  content: "\f0da";
  font-family: "FontAwesome";
  margin-right: 5px;
}
.box-text p {
  font-size: 0.875rem;
  color: #888;
}
.box-text p span {
  font-size: 0.75rem;
}
.box-text p a {
  color: #009944;
}
.box-text p a:hover {
  color: #222;
}
.box-text p a.url-link:before {
  content: "\f0c1";
  font-family: "FontAwesome";
  margin: 0 5px 0 15px;
  position: relative;
  top: 1px;
  color: #ccc;
}

.box-data {
  margin-bottom: 50px;
  overflow: hidden;
}

.box-code {
  position: relative;
}
.box-code .code-content {
  background-color: #f7f7f9;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 20px;
}
.box-code pre {
  margin: 0;
  line-height: 1;
  padding: 20px 30px;
}
.box-code pre code {
  font-family: arial, "Microsoft JhengHei", sans-serif;
  color: #069;
  font-size: 0.75rem;
}
.box-code pre code::-moz-selection {
  background: #dcdcde;
}
.box-code pre code::selection {
  background: #dcdcde;
}
.box-code pre code::-moz-selection {
  background: #dcdcde;
}
.box-code button {
  background-color: rgba(247, 247, 249, 0.8);
  position: absolute;
  top: 0;
  right: 0px;
  padding: 4px 8px;
  font-size: 0.8125rem;
  color: #009944;
  border-radius: 5px;
}
.box-code button:hover {
  background-color: #009944;
  color: #FFF;
}

/* ==========================================================================
  Footer
========================================================================== */
footer {
  text-align: center;
  padding: 25px 0;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer ul:last-child {
  margin: 0;
}
footer ul li {
  font-size: 15px;
  line-height: 15px;
  border-right: 1px solid #222;
  padding: 0 10px 0 0;
  margin: 0 10px 10px 0;
}
footer ul li:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
footer p {
  color: #222;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px;
  }
  .commonhealth_footer-channel br {
    display: inline-block;
  }
}
.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0;
}
.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #222;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px;
    /*Lite*/
  }
  .commonhealth_footer-channel li:nth-child(5) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
  .commonhealth_footer-channel li:nth-child(4) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5;
  }
  .commonhealth_footer-copyright br {
    display: inline-block;
  }
}

.uiGuideline-boxs {
  flex: 1;
}

/* ==========================================================================
  RWD
========================================================================== */
@media only screen and (max-width: 320px) {
  .commonhealth_footer-channel,
  .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px;
  }
}